<%- include('includes/head'); %>
<%- include('includes/nav'); %>

    <div class="container">
        <div class="row">
            <div class="col-lg-2"></div>

            <div class="col-lg-8 my-3">
                <h1 class="text-center">Contacto</h1>
                <p class="text-center lead">Crie ou edite seus contactos</p>

                <%- include('includes/messages'); %>

                <% if(contacto._id){ %>
                <form class="form-edit-contacto" action="/contacto/edit/<%= contacto._id %>" method="post">
                <% } else { %>
                <form class="form-cadastra-contacto" action="/contacto/register" method="post">
                <% } %>
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">

                    <div class="mb-3">
                      <label class="form-label">Nome</label>
                      <input value="<%= contacto.nome %>" type="text" class="form-control" name="nome">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Sobrenome</label>
                        <input value="<%= contacto.sobrenome %>" type="text" class="form-control" name="sobrenome">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Email</label>
                        <input value="<%= contacto.email %>" type="email" class="form-control" name="email">
                    </div>
  
                    <div class="mb-3">
                        <label class="form-label">Telefone</label>
                        <input value="<%= contacto.telefone%>" type="tel" class="form-control" name="telefone">
                    </div>

                    <button type="submit" class="btn btn-primary">Salvar</button>
                </form>

            </div>
            
            <div class="col-lg-2"></div>
        </div>
    </div>

<%- include('includes/footer'); %>
